name: Regression Suite

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '30 20 * * *'   # 2:00 AM IST
  workflow_dispatch:
    inputs:
      suite:
        description: "Select Test Suite"
        required: true
        default: regression
        type: choice
        options:
          - smoke
          - regression
          - sanity

permissions:
  pages: write
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - name: Build project
        run: mvn -B clean install -DskipTests

      - name: Decide Suite File
        id: suitefile
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "suitefile=testng-${{ github.event.inputs.suite }}.xml" >> $GITHUB_OUTPUT
          else
            echo "suitefile=testng-regression.xml" >> $GITHUB_OUTPUT
          fi

      - name: Run TestNG Suite
        run: mvn test -Dsurefire.suiteXmlFiles=${{ steps.suitefile.outputs.suitefile }}

      - name: Upload Test Reports (artifact)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: TestNG-Reports
          path: target/surefire-reports/

      - name: Prepare Pages content
        run: |
          mkdir -p public
          if [ -f target/surefire-reports/index.html ]; then
            cp -r target/surefire-reports/* public/
          else
            echo "<h1>No TestNG HTML Report Found</h1>" > public/index.html
          fi

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: public

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4